.mainNavigation {
  .mainList li a {
    text-decoration: none;
  }
}

.fillColor {
  color: red;
}

.aboutNav {
  .SecondaryNav {
    display: none;
  }

  &:hover {
    .SecondaryNav {
      display: block;
    }
  }
}
